body {
    text-align: center
  }
  
  #inputLabel {
    border: none
  }
  
  input {
    margin-bottom: 5px;
  }
  #image {
    width: 150px;
    height: 200px;
    margin: auto;
    margin-bottom: 10px;
  }
  
  p {
    border-bottom: 1px solid black;
    width: 200px;
    margin: auto;
    margin-bottom: 5px;
  }
  
  .hm0 {
    background-image: url('../images/Sketch001.png');
    background-size: cover;
  }
  
  .hm1 {
    background-image: url('../images/Sketch002.png');
    background-size: cover
  }
  
  .hm2 {
    background-image: url('../images/Sketch003.png');
    background-size: cover
  }
  
  .hm3 {
    background-image: url('../images/Sketch004.png');
    background-size: cover
  }
  
  .hm4 {
    background-image: url('../images/Sketch005.png');
    background-size: cover
  }
  
  .hm5 {
    background-image: url('../images/Sketch006.png');
    background-size: cover
  }
  
  .hm6 {
    background-image: url('../images/Sketch007.png');
    background-size: cover
  }
  
  .defeat {
    background-image: url('../images/lose.png');
    background-size: cover
  }
  
  .victory {
    background-image: url('../images/win.png');
    background-size: cover
  }
  